canto-explain @ file:///Users/david/PycharmProjects/canto-explain/dist/canto_explain-0.1.1-py3-none-any.whl
certifi==2025.10.5
charset-normalizer==3.4.4
idna==3.11
OpenCC==1.1.9
pycantonese==3.4.0
pylangacq==0.16.2
PySide6==6.10.0
PySide6_Addons==6.10.0
PySide6_Essentials==6.10.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
shiboken6==6.10.0
six==1.17.0
tabulate==0.9.0
urllib3==2.5.0
wcwidth==0.2.14
wordseg==0.0.2
pandas>=2.3.3,<3
pyarrow>=14,<20
